'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Learn IDE Terminal'
      'command': 'learn-ide:toggle-terminal'
    }
  ]
  '.learn-terminal': [
    {
      'label': 'Copy'
      'command': 'learn-ide:copy'
    }
    {
      'label': 'Paste'
      'command': 'learn-ide:paste'
    }
    {
      'label': 'Hide Learn IDE Terminal'
      'command': 'learn-ide:toggle-terminal'
    }
  ]
  '.tree-view.full-menu .project-root .entries .directory > .header': [
    {
      'label': 'Resync with Learn IDE Server'
      'command': 'learn-ide:resync'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Learn.co'
      'submenu': [
        {
          'label': 'Focus Terminal'
          'command': 'learn-ide:toggle-focus'
        }
        {
          'label': 'Toggle Terminal'
          'command': 'learn-ide:toggle-terminal'
        }
        {
          'label': 'Reconnect'
          'command': 'learn-ide:reset'
        }
      ]
    ]
  }
]
