'.platform-darwin .learn-terminal':
  'cmd-c': 'learn-ide:copy'
  'cmd-v': 'learn-ide:paste'
  'cmd-=': 'learn-ide:increase-font-size'
  'cmd--': 'learn-ide:decrease-font-size'
  'cmd-0': 'learn-ide:reset-font-size'

'.platform-win32 .learn-terminal':
  'shift-ctrl-c': 'learn-ide:copy'
  'shift-ctrl-v': 'learn-ide:paste'
  'shift-ctrl-=': 'learn-ide:increase-font-size'
  'shift-ctrl--': 'learn-ide:decrease-font-size'
  'shift-ctrl-0': 'learn-ide:reset-font-size'
  'alt-up': 'learn-ide:increase-font-size'
  'alt-down': 'learn-ide:decrease-font-size'
