'.platform-darwin':
  'cmd-I': 'learn-ide:toggle-terminal'
  'cmd-;': 'learn-ide:toggle-focus'

'.platform-win32, .platform-linux':
  'ctrl-I': 'learn-ide:toggle-terminal'
  'ctrl-;': 'learn-ide:toggle-focus'

'.platform-darwin .terminal':
  'cmd-=': 'learn-ide:increase-font-size'
  'cmd--': 'learn-ide:decrease-font-size'
  'cmd-0': 'learn-ide:reset-font-size'

'.platform-win32 .terminal':
  'ctrl-+': 'learn-ide:increase-font-size'
  'ctrl-_': 'learn-ide:decrease-font-size'
  'ctrl-0': 'learn-ide:reset-font-size'
