@import (less) "../node_modules/xterm/dist/xterm.css";

@red: #d92626;
@green: #73c990;

.terminal-resizer {
  z-index: 2;
  padding: 3px 3px 0;

  .terminal-resize-handle {
    position: absolute;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    cursor: row-resize;
    z-index: 3;
  }
}

.platform-win32 {
  .terminal-resizer {
    .terminal-resize-handle {
      cursor: ns-resize;
    }
  }
}

.learn-synced-fs-status {
  &:hover {
    cursor: default;
  }
}

.learn-popout-terminal-icon {
  margin-left: 12px !important;

  &.active {
    &:hover {
      cursor: pointer;
    }
  }

  &.inactive {
    &:hover {
      cursor: default;
    }
    display: none;
  }
}

.learn-status-icon {
  &[data-status='good'] {
    color: @green;
  }

  &[data-status='bad'] {
    color: @red;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

