@import (less) "../node_modules/xterm/dist/xterm.css";

.terminal-resizer {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
  min-height: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;

  .terminal-resize-handle {
    position: absolute;
    height: 10px;
    top: 10;
    left: 0;
    right: 0;
    cursor: row-resize;
    z-index: 3;
  }
}

.learn-synced-fs-status {
  &:hover {
    cursor: default;
  }
}

.learn-popout-terminal-icon {
  margin-left: 12px !important;

  &.active {
    &:hover {
      cursor: pointer;
    }
  }

  &.inactive {
    &:hover {
      cursor: default;
    }
    display: none;
  }
}

.learn-status-icon {
  &[data-status='good'] {
    color: #73c990;
  }

  &[data-status='bad'] {
    color: #d92626;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

